# age Public Key
# This file contains the public key for age encryption
# Generate with: age-keygen -o .age-key.txt
# Extract public key with: grep "public key" .age-key.txt | cut -d: -f2 | tr -d ' ' > .age-public-key.txt
#
# Share this public key with team members so they can encrypt secrets
# NEVER share the .age-key.txt (private key) file!
#
# Replace the placeholder in .sops.yaml with this public key

age1ql3z7hjy54pw3hyww5ayyfg7zqgvc7w3j2elw8zmrj2kg5sfn9aqmcac8p
